.motive{
    background-color: #3090C7;
    padding: 3px;
    padding-left: 10px;
    font-weight: bold;
}
.navbar{
    background-color:''
}

.logo{
    width: 150px;
    height: 50px;
    margin-left: 50px;
}

.nav-link{
    font-weight: bold;
    color:  ''
}

.Welcome,.vision,.Rice{
    text-shadow: 2px 2px 4px black;
    text-align: center;
    display: block;
    color:#3090C7;
   
}

.WelcomeNote,.VisionNote{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.footer{
    width: 100%;
    background-color: #3090C7;
    height: 70px;
    
}

h4{
    color: #fff;
}

.footer > div {
    text-align: center;
}

.navbar1{

    background-color: #3090C7 !important;
    padding-left: 10px !important;
   font-weight: bold !important;
    text-align: center;
    font-size: 40px;
    
}

.container > h2 {
    color: #3090C7;
    text-shadow: 2px 2px 4px black;
}

